<div id="<%= dom_id staff %>">
  <p>
    <strong>User:</strong>
    <%= staff.user_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= staff.contact_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address_id %>
  </p>

  <p>
    <strong>Staff type:</strong>
    <%= staff.staff_type %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= staff.salary %>
  </p>

  <p>
    <strong>Identity card number:</strong>
    <%= staff.identity_card_number %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= staff.father_name %>
  </p>

  <p>
    <strong>Place of birth:</strong>
    <%= staff.place_of_birth %>
  </p>

  <p>
    <strong>Date of hiring:</strong>
    <%= staff.date_of_hiring %>
  </p>

  <p>
    <strong>Year of service:</strong>
    <%= staff.year_of_service %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= staff.meta %>
  </p>

</div>
