<div id="<%= dom_id classroom %>">
  <p>
    <strong>Teacher:</strong>
    <%= classroom.teacher_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= classroom.grade %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= classroom.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= classroom.end_date %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= classroom.section %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= classroom.status %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= classroom.remarks %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= classroom.meta %>
  </p>

</div>
