<div id="<%= dom_id student %>">
  <p>
    <strong>User:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= student.parent_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= student.classroom_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= student.status %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= student.meta %>
  </p>

</div>
