<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "Add new User", new_user_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><h3>Students</h3></th>
      <th scope="col"><h3>Parents</h3></th>
      <th scope="col"><h3>Staff</h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div id="users">
            <% @users.each do |user| %>
            <%= render user %>
          <p>
            <%= link_to "Show this student", user %>
          </p>
            <% end %>
        </div>
      </td>
      <td>
        <div id="users">
           <% @userparents.each do |user| %>
            <%= render user %>
          <p>
            <%= link_to "Show Parents", user %>
          </p>
            <% end %>
        </div>
      </td>
      <td>
        <div id="users">
           <% @userstaff.each do |user| %>
            <%= render user %>
          <p>
            <%= link_to "Show Staff", user %>
          </p>
            <% end %>
        </div>
      </td>
    </tr>       
  </tbody>
</table>
