<div id="<%= dom_id teacher %>">
  <p>
    <strong>Staff:</strong>
    <%= teacher.staff_id %>
  </p>

  <p>
    <strong>Duty time start:</strong>
    <%= teacher.duty_time_start %>
  </p>

  <p>
    <strong>Duty time end:</strong>
    <%= teacher.duty_time_end %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= teacher.speciality %>
  </p>

  <p>
    <strong>Education degree:</strong>
    <%= teacher.education_degree %>
  </p>

  <p>
    <strong>Expirence in years:</strong>
    <%= teacher.expirence_in_years %>
  </p>

  <p>
    <strong>Hire by:</strong>
    <%= teacher.hire_by %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= teacher.meta %>
  </p>

</div>
