<div id="<%= dom_id castordian %>">
  <p>
    <strong>Staff:</strong>
    <%= castordian.staff_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= castordian.role %>
  </p>

  <p>
    <strong>Duty time:</strong>
    <%= castordian.duty_time %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= castordian.meta %>
  </p>

</div>
