<div id="<%= dom_id address %>">
  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

  <p>
    <strong>Address type:</strong>
    <%= address.address_type %>
  </p>

  <p>
    <strong>Line 1:</strong>
    <%= address.line_1 %>
  </p>

  <p>
    <strong>Line 2:</strong>
    <%= address.line_2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

</div>
