<div id="<%= dom_id parent %>">
  <p>
    <strong>User:</strong>
    <%= parent.user_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= parent.contact_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= parent.address_id %>
  </p>

  <p>
    <strong>Ocupation:</strong>
    <%= parent.ocupation %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= parent.meta %>
  </p>

</div>
